<div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
  <div 
    class="upload-box text-center"
    (drop)="onFileDrop($event)" 
    (dragover)="onDragOver($event)" 
    (dragleave)="onDragLeave($event)" 
    [class.dragover]="isDragOver"
  >
    <div class="upload-icon mb-3">📁</div>
    <!-- <h5 class="mb-2">اسحب الملفات هنا</h5> -->
    <!-- Warning message -->
   
    
    <!-- This is your original file input but hidden -->
    <label class="btn btn-primary mt-2">
      اختر الملفات
      <input type="file" (change)="handleFileInput($event)" multiple hidden 
          accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
    </label>
         <p class="mt-2 text-danger fw-bold">
       ⚠️ الموقع يقبل  فقط ملفات Excel المحمّلة من منظومة مسار.
    </p>
  </div>
</div>
