.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  direction: rtl; // 👈 if your content is Arabic
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
}


.center-text {
  text-align: center;
}