.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  direction: rtl; // 👈 if your content is Arabic
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
}


.center-text {
  text-align: center;
}

.modal {
  z-index: 1050;
}
.modal-open {
  overflow: hidden;
}
.btn-close {
  background-color: white;
  border: none;
}
.modal-header {
  direction: rtl; /* ensures Arabic layout */
  .btn-close {
    opacity: 0.9;
    margin-left: 0.5rem;
  }
  .btn-close:hover {
    opacity: 1;
  }
}
