<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'/dashboard'">Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse show" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="'/dashboard'">Profile</a>

          </li> -->
         <li class="nav-item">
        <a [routerLink]="'/dashboard'" 
        class="nav-link text-black active"
        routerLinkActive="active"  
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link text-white">
          <i class="fas fa-chart-line me-2"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/statistics'" 
            routerLinkActive="active"  
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link text-white" >
          <i class="fas fa-chart-bar me-2"></i> الإحصائيات
        </a>
        </ul>
      </div>
    </div>
  </nav>
  